// --- var imports --- //
@import '../../../styles/colors.scss';

// --- MIXINS --- //

@mixin jumboImg($imgURL) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(33,33,33,1) 100%), url("../../../img/"+$imgURL);
}


// --- GENERAL STYLING --- //
.jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: calc( 100vw - 17px);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title, &__desc {
        margin-left: 500px;
        box-sizing: border-box;
        padding: 10px 50px 0px 0px;
        color: white;
    }
    &__title {
        font-family: "Roboto-Bold";
        font-size: 100px;
    }
    &__desc {
        font-family: "Roboto-Medium";
        font-size: 25px;
        line-height: 38px;
        max-width: 60%;
    }
}

// --- PER PAGE STYLES (WEB PAGE) --- //

// ---   Main Page ----------------------------------------
.main__jumbo {
    @include jumboImg("jumbo.jpg");
    .jumbo__button {
        margin: 50px 0px 0px 500px;
    }
}

// ---   Blog ----------------------------------------
.blog-page__jumbo {
    @include jumboImg("leadBlog.jpg");
    .jumbo__button {
        margin: 50px 0px 0px 500px;
        margin-top: 30px;
        width: 260px;
    }
}

// ---  Team ----------------------------------------
.team__jumbo {
    @include jumboImg("leadTeam.jpg");
}

// ---  Offer ----------------------------------------
.offer__jumbo {
    @include jumboImg("leadOffer.jpg");
}

// --- Contact ----------------------------------------
.contact__jumbo {
    display: flex;
    align-items: flex-end;
    .contact__content-wrapper {
        height: 40%;
        width: calc(100% - 350px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .jumbo__email {
            &--bus, &--arek {
                font-size: 40px;
                font-family: "Roboto-Medium";
                padding: 5px;
                transform: scale(1);
                transition: 0.2s;
                &:hover {
                    color: $black;
                    background: $green;
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
        }
        .jumbo__social {
            display: flex;
            img {
                padding: 10px;
                width: 50px;
                transform: scale(1);
                transition: 0.2s;
                &:hover {
                    transform: scale(1.5);
                    transition: 0.3s;
                }
            }
        }
    }
}

// ---  Trips Page ----------------------------------------
.trips__jumbo, .trip__jumbo {
    display: flex;
    align-items: flex-end;
    .jumbo__content-wrapper {
        height: 70%;
        width: calc(100% - 350px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .label {
            font-family: 'Roboto-Bold';
            width: 30%;
            text-align: center;
            font-size: 30px;
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }
        .title {
            max-width: 70%;
            text-align: center;
            font-family: 'Roboto-Black';
            padding: 20px 40px;
            border: 1px solid white;
            font-size: 60px;
        }
        .date {
            font-family: 'Roboto-Bold';
        }
        .place {
            font-family: 'Roboto-Bold';
            font-size: 28px;
        }
        .desc {
            font-family: 'Roboto-Regular';
            width: 80%;
            line-height: 24px;
            text-align: center;
        }
    }
}

.trip__jumbo {
    .jumbo__content-wrapper {
        height: 50%;
    }
}

// --- JUMBO BLOG STYLES --- //

.blog__jumbo {
    display: flex;
    align-items: flex-end;
    .jumbo__content-wrapper {
        height: 60%;
        width: calc(100% - 350px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &.withContent {
            height: 40%;
        }
        .label {
            font-family: 'Roboto-Bold';
            width: 30%;
            text-align: center;
            font-size: 30px;
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }
        .title {
            max-width: 70%;
            text-align: center;
            font-family: 'Roboto-Black';
            padding: 20px 40px;
            border: 1px solid white;
            font-size: 60px;
        }
        .date {
            font-family: "Roboto-Medium";
            font-size: 12px;
            letter-spacing: 1px;
        }
        .place {
            font-family: 'Roboto-Bold';
            font-size: 28px;
        }
        .desc {
            font-family: 'Roboto-Regular';
            width: 80%;
            line-height: 24px;
            text-align: center;
        }
        .see-more {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "Roboto-Medium";
            font-size: 16px;
            color: white;
            &:hover {
                transform: scale(1.1);
            }
            &::after {
                content: '\25B6';
                color: $gold;
                margin-left: 5px;
            }
        }
    }
}