.component-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.component_body {
    margin-top: 30px;
}

section {
    background: white;
}

.text-box {
    @include border($border);
    padding: 10px;
}

.title {
    padding: 5px 0px;
    font-family: 'Roboto-Regular';
    font-size: 30px;
}

.desc {
    font-family: 'Roboto-Light';
    font-size: 18px;
    padding-top: 15px;
    line-height: 1.3;
}

footer.footer {
    background-color: $black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    span {
        display: inline-block;
        width: 80%;
        color: #9E9E9E;
    }
} 