html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background: $black;
    color: white;
    font-family: 'Roboto-light';
    position: relative;
}

#container {
    min-height: calc(100vh + 90px);
    position: relative;
}

.component-wrapper {
    position: relative;
}

.component_body {
    margin-top: 30px;
}

section {
    background: $black;
}

.title {
    padding: 5px 0px;
    font-family: 'Roboto-Regular';
    font-size: 30px;
}

.left-label {
    font-size: 24px;
    color: white;
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    font-size: 28px;
    font-family: "Roboto-Bold";
    position: relative;
}

footer.footer {
    background-color: $green;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100vw;
    .footer__brand {
        color: $black;
        font-family: "Roboto-Light";
        font-size: 18px;
    }
    .footer__logo {
        position: absolute;
        top: -80px;
        img {
            margin: 0 auto;
            transform: rotate(0);
            transition: 0.5s;
            &:hover {
                transform: rotate(360deg);
                transition: 1s;
            }
        }
    }  
    .footer__social {
        display: flex;
        justify-content: flex-end;
        width: 33%;
        img {
            padding: 10px;
            width: 40px;
            transform: scale(1);
            transition: 0.2s;
            &:hover {
                transform: scale(1.5);
                transition: 0.3s;
            }
        }
    } 
}

.btn {
    width: 200px;
    height: 50px;
    background: $green;
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: $black;
    cursor: pointer;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.3);
    transform: scale(1);
    transition: 0.1s;
    &:hover {
        transform: scale(1.05);
        transition: 0.2s;
    }
}