.contact {
    .contact__jumbo {
        display: flex;
        align-items: flex-end;
        .contact__content-wrapper {
            height: 40%;
            width: calc(100% - 350px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .jumbo__email {
                &--bus, &--arek {
                    font-size: 40px;
                    font-family: "Roboto-Medium";
                    padding: 5px;
                    transform: scale(1);
                    transition: 0.2s;
                    &:hover {
                        color: $black;
                        background: $green;
                        transform: scale(1.3);
                        transition: 0.3s;
                    }
                }
            }
            .jumbo__social {
                display: flex;
                img {
                    padding: 10px;
                    width: 50px;
                    transform: scale(1);
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}