    .main__jumbo {
        background: url(../img/jumbo.jpg) no-repeat;
        background-size: cover;
        &__title, &__desc {
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 10px 50px 0px 0px;
            color: white;
        }
        &__title {
            font-family: "Roboto-Light";
            font-size: 60px;
        }
        &__desc {
            font-family: "Roboto-Thin";
            font-size: 20px;
        }
    }

    .main__body {
        position: relative;
        .main-desc {
            &__purposes {
                overflow: hidden;
            }
        }
    }