    .main__jumbo {
        background-image: url(../img/jumbo.jpg);
        .jumbo {
            &__button {
                margin: 50px 0px 0px 500px;
            }
        }
    }

    .main__body {
        position: relative;
        .main-desc {
            width: 70vw;
            margin: 0 auto;
            position: relative;
            &__label {
                font-size: 24px;
                color: white;
                margin: 20px 0 10px;
                padding: 0;
                font-weight: bold;
            }
            &__general {
                margin: 50px 0 0 80px;
                line-height: 26px;
            }
            &__img {
                position: absolute;
                &.img1 {
                    top: 330px;
                    left: -100px;
                }
                &.img2 {
                    top: 960px;
                    right: -100px;
                }
            }
            &__purposes {
                margin: 100px 0 0 0;
                h2 {
                    font-size: 40px;
                    font-family: "Roboto-Bold";
                    &:first-of-type {
                        margin: 50px 0 0 450px;
                    }
                }
                ol {
                    margin: 30px 0 0 0;
                    width: 50%;
                    position: relative;
                    line-height: 22px;
                    &:first-of-type {
                        margin: 30px 0 100px 450px;
                        width: 60%;
                    }
                }
            }
        }

        .main-ebook {
            margin: 100px auto;
            width: 80vw;
            height: 300px;
            background-color: $green;
            box-sizing: border-box;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &__inner {
                width: 96%;
                height: 90%;
                border: 3px dashed $black;
                display: flex;
            }
            &__text {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $black;
                margin-bottom: 40px;
                &--label {
                    position: relative;
                    font-size: 60px;
                    font-family: "Pacifico";
                    padding: 15px 0;
                }
                &--title {
                    font-size: 40px;
                    font-family: "Roboto-Medium";
                    padding: 15px 0;
                }
                &--desc {
                    font-size: 20px;
                    font-family: "Roboto-Light";
                    padding: 10px 0;
                }
            }
            &__button {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                &--download {
                    cursor: pointer;
                    background-color: $black;
                    padding: 30px 60px;
                    font-size: 30px;
                    box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.5);
                }
            }
        }

        .main-gallery {
            height: 500px;
            width: 800px;
            margin: 0 auto;
        }
        .main-partners {
            width: 80vw;
            margin: 100px auto;
            height: 150px;
            background-color: $green;
            &--label {
                font-size: 30px;
                font-family: "Pacifico";
                padding: 15px 15px 15px 50px;
                color: $black;
            }
        }
        .main-trip {
            width: 70vw;
            margin: 50px auto;
            position: relative;
            &--label {
                font-size: 40px;
                font-family: "Roboto-Bold";
            }
            &__data {
                display: flex;
                position: relative;
                align-items: center;
                font-size: 18px;
                &--text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }
                span {
                    margin: 10px;
                    width: 80%;
                }
                &--title {
                    font-family: "Roboto-Medium";
                }
                &--date {
                }
                &--desc {
                }
                &--btn {
                    margin: 10px;
                }
                &--place {
                    position: absolute;
                    top: 40%;
                    width: 100% !important;
                    text-align: center;
                    font-family: "Pacifico";
                    font-size: 50px;
                }
                &--img {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .trip-image {
                        @include thumbnail(100%, 300px)
                    }
                }
            }
            .trips-divider {
                position: relative;
                width: 97%;
                border-top: 1px solid darken($color: $grey, $amount: 25%);
                margin: 20px;
            }
        }
    }