.trips__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .trips__new-trips, .trips__finished-trips{
        width: 70vw;
        &--label {
            font-size: 36px;
            display: inline-block;
            left: -150px;
            top: 20px;
            border-bottom: 1px solid white;
            padding: 0 25px 8px 0px;
        }
    }
    .trips__finished-trips{
        margin-bottom: 180px;  
    }
}

// Single trip thumbnail
.trip-thumbnail {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 18px;
    padding: 30px 0px;
    border-bottom: 1px solid darken($color: $grey, $amount: 25%);
    &:first-child, &:last-child {
        border-bottom: none;
    }
    &--text {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    span {
        margin: 10px;
        width: 80%;
    }
    &--title {
        font-family: "Roboto-Bold";
        font-size: 24px;
        max-width: 80%;
    }
    &--date {
        color: darken(white, 40);
        font-family: "Roboto-Medium";
        font-size: 16px;
    }
    &--desc {
        line-height: 22px;
    }
    &--btn {
        margin: 10px;
        width: 200px !important;
    }
    &--place {
        position: absolute;
        top: 40%;
        width: 100% !important;
        text-align: center;
        font-family: "Pacifico";
        font-size: 50px;
        z-index: 3;
    }
    &--img {
        overflow: hidden;
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
        .trip-image {
            @include thumbnail(100%, 300px);
            transform: scale(1);
            transition: 0.2s;
            &:hover {
                transform: scale(1.2);
                transition: 0.2s;
            }
        }
    }
}

.trips__body {
    .trip-content {
        width: 60%;
        margin: 0 auto 200px;
        p {
            line-height: 25px;
        }
        
    }
}