{
    "extends": "airbnb",
    "rules": {
      "linebreak-style": ["warn", "windows"],
      "comma-dangle": "off",
      "max-len": ["error", { "code": 200, "ignoreComments": true, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
      "function-paren-newline": [2, "consistent"],
      "no-multiple-empty-lines": ["warn", { "max": 5 }],
      "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
      "no-unused-vars": ["warn", { "args": "none" }],
      "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
      "jsx-quotes": ["error", "prefer-double"],
      "react/jsx-filename-extension": 0,
      "react/prefer-stateless-function": 0,
      "react/jsx-one-expression-per-line": 0,
      "react/jsx-first-prop-new-line": [1, "multiline"],
      "react/jsx-max-props-per-line": [1, { "maximum": 3 }],
      "react/require-default-props": 0,
      "react/no-unused-prop-types": 0,
      "react/forbid-prop-types": 0
    }
}