.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 60px;
  background: black;
  color: white;
  z-index: 10;
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    top: -20px;
    left: -20px;
  }
  &__wrapper {
    display: flex;
    list-style: none;
    margin-left: 200px;
  }
  &__item {
    line-height: 60px;
    padding: 0px 40px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      width: 100%;
    }
    &:hover {
      background: rgba(36, 182, 190, 0.5);
    }
    @media screen and (max-width: 1200px) {
      padding: 0 10px;
      font-size: 15px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(24, 23, 23);
  font-family: "Roboto", sans-serif;
  color: grey;
  line-height: 30px;
  margin: 0;
  span {
    padding: 0 30px;
    margin: 0;
  }
}
